/*------------------------------------------------------------------------
 * Styles for the Chirp JavaScript SDK Demo
 *
 * Copyright © 2011-2016, Asio Ltd.
 * All rights reserved.
 *------------------------------------------------------------------------*/

@font-face {
  font-family: 'Calibre Regular';
  src: url('fonts/CalibreRegular.woff2') format('woff2'),
  url('fonts/CalibreRegular.woff') format('woff'),
  url('fonts/CalibreRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'MarkPro Medium';
  src: url('fonts/MarkPro-Medium.woff2') format('woff2'),
  url('fonts/MarkPro-Medium.woff') format('woff'),
  url('fonts/MarkPro-Medium.ttf') format('truetype');
}

body {
  /*font-family: "Work Sans", Avenir, Helvetica, Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 90%;
  line-height: 1.3em;
  background: #eee;
  color: #190e2b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Calibre Regular;
  background: #fff;
}

h1, h2, h3, h4 {
  font-family: MarkPro Medium;
}

h1 {
  font-size: 180%;
  margin-bottom: 10px;
  line-height: 1.3em;
  font-weight: 600;
}
h1 * {
  vertical-align: middle;
}

#main {
  background: #fff;
  padding: 40px;
  margin-bottom: 180px;
}

#version {
  margin-bottom: 20px;
}

#status {
  display: inline-block;
  padding: 17px 22px 14px;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  margin: 10px 10px 10px;
  background: #273757;
}

#status span {
  font-weight: 600;
}


.buttons a, a.button {
  display: inline-block;
  padding: 17px 22px 14px;
  text-decoration: none;
  color: #0e182c;
  font-size: 17px;
  margin: 10px;
  background: #ffd458;
  transition: background-color .3s,color .3s;
}
.buttons a:hover, a.button:hover {
  background-color: #ffc00c;
}

#results .button {
  margin: 0 10px;
}

#results {
  font-family: "Courier New", Courier, monospace;
  margin-top: 40px;
}

#results .result {
  max-width: 800px;
  margin: 20px auto;
  background: #eee;
  padding: 20px;
  overflow: hidden;
  text-align: left;
  text-overflow: scroll;
  white-space: pre;
}

#results div.error {
  background: #f55;
  color: white;
  font-weight: 600;
}

#footer {
  font-family: Calibre Regular;
  background-color: #0e182c;
  background: url(images/footer_bg.png);
  background-repeat: no-repeat;
  background-position: center 45%;
  background-size: 100% auto;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 150px;
  padding-top: 30px;
}

#footer a {
  color: #fff;
}

#chester:hover {
  opacity: 0.7;
}

/* ============================================================
  Ultrasonic switch
============================================================ */

#setProtocolButtons {
  display: none;
}
.switch {
  display: inline-block;
}

.switch h2,
.switch  label {
  display: inline-block;
  vertical-align: middle;
}

switch h2 {
  margin: 0 15px;
  display: inherit;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 32px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #273757;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px;
}


@media screen and (max-width: 480px)
{
  #main {
    padding: 20px;
  }
  #results  .result {
    margin: 20px auto;
    background: #eee;
    padding: 20px;
  }
}
